@font-face {
  font-family: Roboto;
  src: url("../resource/fonts/Roboto-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  gap: 10px;
  position: relative;
}
header .logo {
  position: fixed;
  width: 3vw;
}
.header__article {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin-left: 50px;
}
.header__article h1 {
  font-weight: bold;
  font-size: 1.5rem;
  padding-left: 20px;
}
.header__article h4 {
  font-size: 1rem;
  font-weight: 100;
  padding-left: 20px;
}
.illustration {
  width: 50vw;
  position: absolute;
  right: 0;
  top: 0;
}
.illustration-people {
  width: 50vw;
  position: absolute;
  right: 10px;
  top: 7px;
}

.first-page__article {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 45vw;
  margin-top: 100px;
  padding: 50px;
  gap: 30px;
}
.first-page__article h1 {
  font-size: 3.7rem;
  letter-spacing: 1px;
}
.first-page__article p {
  font-size: 1.2rem;
  margin-bottom: 20vh;
}
.first-page__article p img {
  width: 40px;
}
.first-page__article a {
  font-size: 1.2rem;
  color: #ff3571;
  margin-bottom: 50px;
}
.second-page__images-container img {
  width: 100%;
  height: 100vh;
}
.third-section {
  display: flex;
  justify-content: center;
}
.third-section article {
  display: flex;
  margin: 200px auto;
  padding: 10px 60px;
  gap: 15vw;
}
.third-section__title {
  display: flex;
  flex-direction: column;
}
.third-section article h1 {
  display: flex;
  align-items: center;
  font-size: 3.3rem;
  width: 25vw;
}
.third-section article p {
  font-size: 1.2rem;
  width: 45vw;
  line-height: 30px;
  margin-top: 15px;
}
.after-several {
  display: flex;
  justify-content: center;
  width: 50vw;
  padding: 10px 50px;
  margin-bottom: 20vh;
}
.after-several span {
  font-size: 3rem;
  font-weight: bold;
}
.info-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 60px;
  margin-bottom: 20vh;
  column-gap: 20vw;
  row-gap: 10vh;
}
.info-section img {
  margin-top: -30px;
  width: 3vw;
}
.info-section h4 {
  font-weight: bold;
  color: #000;
  font-size: 1.2rem;
  margin-bottom: 6px;
}
.info-section p {
  font-size: 0.9rem;
}
.box1,
.box2,
.box3,
.box4 {
  display: flex;
  width: 25vw;
  gap: 10px;
}
.text-image-section {
  padding: 0 3vw;
}
.text-image-section__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 28vw;
  gap: 5vh;
}
.text-image-section__title h1 {
  font-size: 3rem;
}
.text-image-section__title p {
  font-size: 1.1rem;
  word-spacing: 1px;
  text-align: center;
  margin-bottom: 15vh;
}
.text-image-section__box1 {
  display: flex;
  justify-content: center;
}
.main-img {
  width: 40vw;
}
.main-logo {
  margin-bottom: 4vh;
}
.text-image-section__box1,
.text-image-section__box2,
.text-image-section__box3,
.text-image-section__box4 {
  display: flex;
  align-items: center;
  gap: 8vw;
  margin-bottom: 15vh;
}
.text-image-section__box1 h1,
.text-image-section__box2 h1,
.text-image-section__box3 h1,
.text-image-section__box4 h1 {
  font-size: 3.5rem;
  color: #dddddd;
  margin-bottom: 10vh;
}
.text-image-section__box1 h4,
.text-image-section__box2 h4,
.text-image-section__box3 h4,
.text-image-section__box4 h4 {
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 2vh;
}
.text-image-section__box1 p,
.text-image-section__box2 p,
.text-image-section__box3 p,
.text-image-section__box4 p {
  font-size: 1.1rem;
  color: #000;
  margin-bottom: 10vh;
  line-height: 30px;
}
.text-image-section__box1 .right-box,
.text-image-section__box3 .right-box {
  width: 35vw;
}
.text-image-section__box2 .left-box,
.text-image-section__box4 .left-box {
  width: 35vw;
}

footer {
  padding: 20px 0;
  position: relative;
}
.main-site-article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8vh;
}
.main-site-article form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8vh;
}
.main-site-article h1 {
  font-size: 3rem;
  font-weight: bold;
}
.main-site-article p {
  font-size: 1.2rem;
  font-weight: 100;
}
.main-site-article input {
  width: 30vw;
  padding: 20px 30px;
  background-color: #fff;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.main-site-article button {
  width: 15vw;
  padding: 15px 20px;
  background-color: #ff3571;
  color: #fff;
  border: none;
  margin-bottom: 100px;
}
.main-site-article button:hover {
  background: linear-gradient(
    59deg,
    rgba(214, 9, 70, 1) 43%,
    rgba(28, 17, 205, 1) 71%
  );
  color: #fff;
}
.main-site-article span {
  position: absolute;
  left: 10px;
  bottom: 5px;
  font-size: 1rem;
}

#confirmation-page {
  display: flex;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px auto 100px auto;
  gap: 10px;
  width: 50vw;
  padding: 60px 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#confirmation-page h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}
#confirmation-page h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
#confirmation-page p {
  font-size: 0.9rem;
  margin-bottom: 40px;
}
.confirm-page__button {
  background-color: #8800ff;
  width: 25vw;
  border-radius: 5px;
  padding: 10px 30px;
  color: #fff;
}
